{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>{% block title %}Todo lists{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Todo list">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% endblock %}
  </head>
  <body>
    <div class="container">
    <!-- HEADER -->
    <header>
      <h1><a href="{% url 'lists' %}">Todo lists</a></h1>
    </header>

    <!-- MAIN CONTENT -->
      <main>
        <a href="{% url 'import' %}">Import CSV</a>
      {% block body %}
      {% endblock %}
      </main>
    </div>
  </body>
</html>
