{% extends 'base.html' %}

{% block body %}

<form method="post">
	{% csrf_token %}
	<label for="name">Name</label>
	<input type="text" name="name" id="name"><br>
	{% if type == 'list' %}
	<label for="valid_until">Deadline</label>
	<input type="date" name="valid_until" id="valid_until"><br>
	{% endif %}
	<input type="submit" value="Create">
</form>

{% endblock %}
