{% extends 'base.html' %}

{% block body %}

<form method="post" action="{% url 'import' %}" enctype="multipart/form-data">
	{% csrf_token %}
	<label for="file">Upload CSV file</label><br>
	<input type="file" name="file" id="file" accept="text/csv"><br>
	<input type="submit" value="Import">
</form>

{% endblock %}
