{% extends 'base.html' %}

{% block body %}

<a href="{% url 'create_list' %}">Create a new todo list</a>
<table>
	<tr>
		<th>Past</th>
		<th>Today</th>
		<th>Future</th>
	</tr>
	<tr>
		<td>
			<ul>
				{% for l in past %}
				<li>
					<a href="{% url 'todo' l.id %}">{{ l.name }} ({{ l.id }})</a>:
					<span class="done">{{ l.done}}</span>/<span>{{ l.total }}</span><span aria-label="done">✅</span>
				</li>
				{% endfor %}
			</ul>
		</td>
		<td>
			<ul>
				{% for l in today %}
				<li>
					<a href="{% url 'todo' l.id %}">{{ l.name }} ({{ l.id }})</a>:
					<span class="done">{{ l.done}}</span>/<span>{{ l.total }}</span><span aria-label="done">✅</span>
				</li>
				{% endfor %}
			</ul>
		</td>
		<td>
			<ul>
				{% for l in future %}
				<li>
					<a href="{% url 'todo' l.id %}">{{ l.name }} ({{ l.id }})</a>:
					<span class="done">{{ l.done}}</span>/<span>{{ l.total }}</span><span aria-label="done">✅</span>
				</li>
				{% endfor %}
			</ul>
		</td>
	</tr>
</table>
{% endblock %}
