{% extends 'base.html' %}

{% block body %}

<h2>{{ name }}</h2>
Valid until: {{ valid_until }}

<form method="post" action="{% url 'delete_list' id %}">
  {% csrf_token %}
  <input type="submit" value="Delete this list">
</form>

<p>
{% if past %}
This todo list is past deadline. You cannot change it.
{% else %}
<a href="{% url 'create_item' id %}">Add new item</a>
{% endif %}
</p>

<form method="post" action="{% url 'todo' id %}">
  {% csrf_token %}
  <ul>
    {% for i in items %}
    <li class="checklist">
      <input
        type="checkbox" id="item-{{ i.id }}" name="todo" value={{ i.id }}
        {% if i.status %} checked {% endif %}
        {% if past %} disabled {% endif %}>
      <label for="item-{{ i.id }}">{{ i.name }}</label>
      <input
        class="delete-checkbox"
        type="checkbox" id="delete-{{ i.id }}" name="delete" value={{ i.id }}
        {% if past %} disabled {% endif %}>
      <label class="delete-label" for="delete-{{ i.id }}">Delete</label>
    </li>
    {% endfor %}
  </ul>
  <input type="submit" value="Save">
</form>
{% endblock %}
