table {
	width: 100%;
}

table td {
	border: 1px solid black;
	width: 33%;
}

.container {
  max-width: 42em;
  margin: 0 auto;
}

.done {
	color: green;
}

li.checklist {
	list-style-type: none;
}

.delete-label {
	text-decoration: underline;
}

.delete-checkbox {
	visibility: hidden;
}

.delete-checkbox:checked ~ label {
	text-decoration: line-through red;
	color: red;
}
